html, body, #root {
  height: auto;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}

.results-wrapper {
  display: flex;
  flex-direction: column; /* mobile default */
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
}

.listings {
  box-sizing: border-box;
  width: 100%;
  padding-left: 80px;
}

.sidebar {
  width: 100%;
  box-sizing: border-box;
  margin-top: 24px; /* spacing for mobile */
  padding-right: 80px;
}

@media (min-width: 992px) {
  .results-wrapper {
    flex-direction: row;
    min-height: auto;
  }

  .listings {
    flex-basis: calc(100% - 410px);
    max-width: calc(100% - 410px);
    flex: 1;
  }

  .sidebar {
    width: 400px;
    flex-shrink: 0;
    margin-top: 0; /* remove top margin for desktop */
  }
}
